.breadcrumb-wrapper {
  padding: 16px;

  .breadcrumb-mwc {
    width: 100%;
    max-width: var(--breadcrumb-mwc-max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .left {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: $breakpoint-desktop) {
        gap: 0;
      }

      .arrow-wrapper {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: $black-4;
      }

      .non-active-link {
        color: $black-4;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .active-link {
        font-weight: 600;
        text-decoration: none;
        color: $black-1;
      }

      .mfs-20 {
        font-size: 20px;
      }
    }

    .right {
      .share-wrapper {
        display: flex;
        align-items: center;
        color: $black-1;
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
