.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $white-1;
  gap: 8px;

  .sidebar_header {
    background: #e6f7fa;
    padding: 40px 16px 16px;
    border-bottom: 1px solid #ddd;
    position: relative;

    .sidebar_close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .sidebar_profile {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      .sidebar_profile_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;

        .sidebar_name {
          font-size: 18px;
          font-weight: 600;
        }

        .sidebar_email {
          font-size: 14px;
          color: #555;
        }

        .sidebar_link {
          width: 100%;

          .sidebar_btn {
            background: $primary-1 !important;
            color: white !important;
            border-radius: 8px;
            width: 100%;
            text-transform: none;
          }
        }
      }
    }
  }

  .sidebar_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow: hidden;

    .sidebar_menu_item {
      padding: 10px;

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 16px;
        text-decoration: none;
        border: 1px solid rgb($black-4, 20%);
        border-radius: $border-radius-md;
        color: #333;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.2s;

        .sidebar_menu_item_icon {
          font-size: 16px;
        }

        .sidebar_menu_item_label {
          flex: 1;
        }

        .arrow_icon {
          font-size: 16px;
        }

        &:hover {
          background-color: #e6f7fa;
        }
      }

      &.selected a {
        color: $primary-1;
        border: 1px solid $primary-1;
        background-color: #e6f7fa;
      }
    }
  }

  .sidebar_footer {
    padding: 16px;

    .logout_btn {
      width: 100%;
      color: white !important;
      background: $red !important;
      border-radius: 8px;
      text-transform: none;
      font-weight: 600;
    }
  }
}
