@import 'normalize.css';

body {
  font-family: $font-family-base;
  background-color: $white-3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
}

main {
  min-height: calc(100vh - 60px);
  height: auto;
  padding-bottom: 70px;
}
