// Colors
$white-1: #fff;
$white-2: #fcfcfc;
$white-3: #f3f3f3;
$black-1: #212529;
$black-2: #262626;
$black-3: #404040;
$black-4: #737373;
$primary-1: #288b91;
$primary-2: #288b91;
$primary-3: #019997;
$primary-4: #01bfbd;
$primary-5: #0b4341;
$red: red;
$red-1: #ef5461;
$red-2: #e86570;
$green-1: #16a160;

// Font
$font-family-base: 'DM Sans', sans-serif;
$font-family-accent: '', sans-serif;

// Border radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;

// BreakPoints - below is mobile devices than (768px) and above(768px) is desktop devices
$breakpoint-desktop: 768px;
